# Quake Champions Classic Asset Ignores
media/BL_proxy/
media/*.png~
media/*.kra~
media/*.mp4
ref/
release/
models/monsters/*.blend1
models/champions/*.blend1
textures/id/
music/ithagnal2/Audio/Andrew Hulshult - Ithagnal.wav
music/ithagnal2/Images/Andrew Hulshult - Ithagnal.peak
deathmonger.zip
